<div>   
    <ul class="nav nav-tabs navbar">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLinkActive="active" routerLink= '/contact-us'>Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/faq">FAQ</a>
      </li>
    </ul>
  </div>

 