<header class="jumbotron">
  <div class="container">
      <div class="row row-header">
          <div class="col-12"> 
              <h1 class="text-center">Vehicle Insurance</h1>
              <p>Our Site, a comprehensive package policy which covers Loss or Damage to your car,
                 Liability to third parties and provides personal accident cover to the Owner/Driver.</p>
          </div>
          <div class="col-12 col-sm">
          </div>
      </div>
  </div>
</header>




<router-outlet> </router-outlet>